/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*importing fonts*/
@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



*{
    border: solid red 1px;

}

body{
    height:100vh;
    display: flex;
    margin: 0px;
}

.leftColumn{
    display: flex;

    background-color: rgb(209, 131, 131);
    background-image: url("images/black-bird.jpg");
    background-blend-mode: multiply;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.leftColumnContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex:auto;
}

#odinTopDiv{
    flex:auto;
}

#odinCenterDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%);
    height: clamp(100px, 120px, 240px);
    padding: 20px;
    margin: 32px;

    background: radial-gradient(ellipse closest-side, rgba(0,0,0,1), rgba(0,0,0,0));
}

.odinLogo{
    height: 75%
}

.odinText{
    font-family: "norsebold";
    font-size: clamp(3rem, 4rem, 5rem);
    color: white;
}

.odinBotDiv{
    flex-grow: 2;
}

#imageFooter{
    position: absolute;
    bottom: 8px;
    color: black;
}

.borderShadow{
    height: 100%;
    width: 12px;
    background: linear-gradient(0.75turn,rgba(250, 250, 250,1), rgba(250, 250, 250,0));

    /*
For black border:
background: linear-gradient(0.75turn,rgba(0, 0, 0,1), rgba(0, 0, 0,0)); 

For white border:
background: linear-gradient(0.75turn,rgba(250, 250, 250,1), rgba(250, 250, 250,0))
*/

}

.rightColumn{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: rgb(250, 250, 250);
    padding: 16px;
}

.rightColumnTop{
    flex:auto;

    display:flex;
    flex-direction: column;
    justify-content: end;
}

.rightColumnCenter{
    flex:auto;
    
    display:flex;
    flex-direction: column;
}

.rightColumnBot{
    flex:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(16px, 24px, 40px);

    text-overflow: ellipsis;
    margin-left: 16px;
}

em{
    font-style: italic;
}

#youWantTo{
    margin-top: 16px;
}

.signup{
    background-color: rgb(141, 193, 218);
    box-shadow: rgb(48, 48, 48) 8px 8px 10px;

    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
}

.signupInternal{
    margin:16px;
    

    display: flex;
    flex-direction: column;
}

.signupInput{
    display: flex;
    margin-bottom: 1em;
}

.labelPlacement{
    display:flex;
    position: relative;

    flex-direction: column;
    margin-right: 10%;
    width: 40%;
    
}

#signupText{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(16px, 24px, 40px);
    margin-bottom: 16px;
}

.labelPlacement{
    position: relative;
}

label{
    text-wrap: nowrap;
    position: absolute;
    bottom: 0px;
    left:0px;
}

input{
    position: relative;
    background-color: rgb(141, 193, 218);
    border: 0px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    outline: none;
    
    font-size: 16px;
    height: 32px;
}



input:focus + label,
input:not(:placeholder-shown) + label{
    background-color: rgb(141, 193, 218);

    width:fit-content;
    transform-origin: left;
    padding-left: 4px;
    padding-right: 4px;
    transform:
        scale(0.85)
        translate(12px, -27px);
    
    transition: all ease-out 250ms;
}

input:focus,
input:not(:placeholder-shown){
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 4px;
}

input:not(:placeholder-shown):not(:focus):invalid{
    border: 2px solid red;
    box-shadow: 2px 2px 4px red;
}

input:not(:placeholder-shown):not(:focus):invalid + label{
    color: red;
}

.passwordRequirements{
    transform: scale(0);
    width: 13em;

}
.pswContainer:focus-within ~ .passwordRequirements{
    transform-origin: left;
    transform: scale(1);
    transition: all ease-out 250ms;

}



.haveAccountPlacement{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.hasAccount{
    margin: 16px;
    font-style: italic;
    opacity: 0.8;
}

button{
    height: 48px;
    width: 128px;
    border: 0px;
    border-radius: 8px;
    background-color:rgb(209, 131, 131);

    font-size: 16px;
}


